<div class="modal-header">
  <h4 class="modal-title">{{ modal_title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- START -->
  <div class="">
    <div class="">
      <h4 class=""></h4>
      <div class="">
        <div class="justify-content-center">
          <form [formGroup]="myForm" (ngSubmit)="onUpdate()">
            <div class="form-group">
              <label for="customFile">Profile Picture</label>
              <input
                [(ngModel)]="profpic"
                name="profpic"
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Pictrure URL"
                formControlName="profpic"
                required
              />
              <div *ngIf="profile.hasError('required')">
                <p class="text-danger">
                  Field is required
                </p>
              </div>
              <div *ngIf="profile.hasError('minlength')">
                <p class="text-danger">
                  Minimum Length is 5
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">First Name</label>
              <input
                [(ngModel)]="firstname"
                name="firstname"
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="First Name"
                formControlName="firstname"
                required
              />
              <div *ngIf="fname.hasError('required')">
                <p class="text-danger">
                  Field is required
                </p>
              </div>
              <div *ngIf="fname.hasError('minlength')">
                <p class="text-danger">
                  Minimum Length is 5
                </p>
              </div>
              <div *ngIf="fname.hasError('maxlength')">
                <p class="text-danger">
                  Maximum Length is 30
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput2">Last Name</label>
              <input
                [(ngModel)]="lastname"
                name="lastname"
                type="text"
                class="form-control"
                id="exampleFormControlInput2"
                placeholder="Last Name"
                formControlName="lastname"
                required
              />
              <div *ngIf="lname.hasError('required')">
                <p class="text-danger">
                  Field is required
                </p>
              </div>
              <div *ngIf="lname.hasError('minlength')">
                <p class="text-danger">
                  Minimum Length is 5
                </p>
              </div>
              <div *ngIf="lname.hasError('maxlength')">
                <p class="text-danger">
                  Maximum Length is 30
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput3">Occupation</label>
              <input
                [(ngModel)]="occupy"
                name="occupy"
                type="text"
                class="form-control"
                id="exampleFormControlInput3"
                placeholder="Occupation"
                formControlName="occupy"
                required
              />
              <div *ngIf="oc.hasError('required')">
                <p class="text-danger">
                  Field is required
                </p>
              </div>
              <div *ngIf="oc.hasError('minlength')">
                <p class="text-danger">
                  Minimum Length is 5
                </p>
              </div>
              <div *ngIf="oc.hasError('maxlength')">
                <p class="text-danger">
                  Maximum Length is 30
                </p>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="row">
            <div class="col">
              <a (click)="onCancel()" class="btn btn-danger btn-small border-dark">&lt;</a>
            </div>
            <div class="col d-flex justify-content-end">
              <a href="" class="btn btn-success border-dark">&gt;</a>
            </div>
          </div> -->
      </div>
    </div>
  </div>
  <!-- END -->
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-dark" [disabled]="!myForm.valid">
    Submit
  </button>
</div>
