<div class="container-header">
        <span class="header-text">{{ title }}</span>
        <button class="button-right todo-list">
          <a href="/todolist.html">Todo List</a>
        </button>
      </div>
      <div class="main-container">
        <br />
        <button class="button-left"><a href="/">New User</a></button>
        <input
          type="search"
          placeholder="Search..."
          class="right-search"
          [(ngModel)]="searchText"
          (change)="onSearch()"
        /><br /><br />
        <span *ngIf="filteredData.length === 0">No result</span>
        <table class="table-center" *ngIf="filteredData.length > 1">
          <thead>
            <tr class="thead-color">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Occupation</th>
              <!-- <th># of Todos</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredData">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.occupation }}</td>
              <!-- <td>1</td> -->
              <td>
                <button class="btn-update">
                  <a (click)="onUpdate(user)">Edit</a>
                </button>
                <button class="btn-delete">
                  <a (click)="onDelete(user)">Delete</a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      
        <br />
        <!-- <button><span>&lt;</span></button>
        <span class="text-size-small">Page: 1/2</span>
        <button><span>&gt;</span></button> -->
        Showing {{ filteredData.length }} results of {{ userData.length }}.
      </div>
      