<div class="container col-md-6 mt-2">
  <div class="card border-primary">
    <h4 class="card-header bg-primary text-white">Create New User</h4>
    <div class="card-body">
      <div class="justify-content-center">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="First Name"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput2"
              placeholder="Last Name"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Occupation</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput3"
              placeholder="Occupation"
            />
          </div>
          <div class="form-group">
            <label for="customFile">Profile Picture</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile"
                >Choose file</label
              >
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col">
          <a (click)="onCancel()" class="btn btn-danger btn-small border-dark">&lt;</a>
        </div>
        <div class="col d-flex justify-content-end">
          <a href="" class="btn btn-success border-dark">&gt;</a>
        </div>
      </div>
    </div>
  </div>
</div>
